extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Bienvenidos a Padron AdorDNI
		a(href="/login" class="right-space") Ingresar al padron
		br
		a(href="https://docs.google.com/forms/d/e/1AKVrrKGSDtbLrcW77HPEwrJM2Ej2yFNYw0870dBiWfrC10-jQIoFVGA/viewform" )  Registrarte al padron
		br
		br
	P Por si queres donar para poder llevarlo a un host pago</P>
	p $100 ars(1 usd)
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-3eebf5f3-1f3e-44aa-9a75-a488f8bcbf23")
	p $50 ars (0.5 usd)
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-1e5b80ab-c86e-492d-8c24-edb6c369a5fe")
	p $10 ars(0.1 usd)
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-4bc131a8-8747-4824-8a88-1210d544779e")
	