extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Bienvenidos a Padron AdorDNI
		a(href="/login" class="right-space") Ingresar al padron
		br
		//a(href="https://t.co/QYbacj3nh6?amp=1" )  Registrarte al padron
		a(href="/signup" )  Registrarte al padron
		br
		br
	P Por si queres donar para que siga el host funcionando</P>
	p Donacion de los dioses del olimpo $1000 ars(7.6 usd) + inclue dni honorario 
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="159086638-c816340f-3108-4584-8bd5-1137301fec39")

	p $100 ars (0.7 usd)
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="159086638-3eebf5f3-1f3e-44aa-9a75-a488f8bcbf23")

	p $50 ars(0.38 usd)
	script(src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="159086638-1e5b80ab-c86e-492d-8c24-edb6c369a5fe")


	