extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Bienvenidos a Padron AdorDNI
		a(href="/login" class="right-space") Ingresar al padron
		br
		//a(href="/signup" )  Registrarte al padron