doctype html
html(lang="es")
	head
		title Padron AdorDNI
		meta(charset="utf-8")
		//link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet")
		link(href="/css/style.css",rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="main.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		<!-- Bidvertiser2038286 -->
	body
	block contenido