extends ./layout.jade
block contenido
    P Hola Gracias por donar para que el host siga funcionando te lo super agredezco
    P Porfavor contactame por Twitter a mi cuentas @impresoradorni
    p Necesito el correo por donde hiciste el pago para poder comprabar que es el mismo